app:
    image: rahul1997/jenkins-prhandler-spc-branch
    ports:
      - "8081:8080"
    environment:
      DEV: 'False'
      PORT: 8080
      GITHUB_TOKEN: '6ea84fd9da3b35a8e80f05dadbd706d8538fc4a9'
      JENKINS_BASE_URL: 'https://jenkins.gada.io/job/Pull_Request_GennyJobs/job/genny-project-pipeline/'
      JENKINS_BASIC_AUTH: 'Z2l0aHVidXNlcjoxMTE1M2Q4M2IzZTJlOWE5M2ZlMDAzOTlhZmFhZjI3MGFm'
      GITHUB_STATE: 'pending'
      MESSAGE: 'Job in Jenkins queue, pending.'
      JENKINS_TOKEN: 'rahul'